
*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(67, 89, 113, 0);
}
:root {
    color-scheme: light;
}
:root {
    font-size: var(--bs-root-font-size);
}
:root {
    --bs-blue: #007bff;
    --bs-indigo: #6610f2;
    --bs-purple: #696cff;
    --bs-pink: #e83e8c;
    --bs-red: #ff3e1d;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffab00;
    --bs-green: #71dd37;
    --bs-teal: #20c997;
    --bs-cyan: #03c3ec;
    --bs-black: #435971;
    --bs-white: #fff;
    --bs-gray: rgba(67, 89, 113, 0.6);
    --bs-gray-dark: rgba(67, 89, 113, 0.8);
    --bs-gray-25: rgba(67, 89, 113, 0.025);
    --bs-gray-50: rgba(67, 89, 113, 0.05);
    --bs-primary: #696cff;
    --bs-secondary: #8592a3;
    --bs-success: #71dd37;
    --bs-info: #03c3ec;
    --bs-warning: #ffab00;
    --bs-danger: #ff3e1d;
    --bs-light: #fcfdfd;
    --bs-dark: #233446;
    --bs-gray: rgba(67, 89, 113, 0.1);
    --bs-primary-rgb: 105, 108, 255;
    --bs-secondary-rgb: 133, 146, 163;
    --bs-success-rgb: 113, 221, 55;
    --bs-info-rgb: 3, 195, 236;
    --bs-warning-rgb: 255, 171, 0;
    --bs-danger-rgb: 255, 62, 29;
    --bs-light-rgb: 252, 253, 253;
    --bs-dark-rgb: 35, 52, 70;
    --bs-gray-rgb: 67, 89, 113;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 67, 89, 113;
    --bs-body-color-rgb: 105, 122, 141;
    --bs-body-bg-rgb: 245, 245, 249;
    --bs-font-sans-serif: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-root-font-size: 16px;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.53;
    --bs-body-color: #697a8d;
    --bs-body-bg: #f5f5f9;
    --bs-border-width: 1px;
    --bs-border-style: solid;
}
 
.authentication-wrapper.authentication-cover {
    align-items: flex-start;
}

.authentication-wrapper {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%;
}
.authentication-wrapper.authentication-cover.authentication-inner {
    height: 100vh;
}
.authentication-wrapper.authentication-inner {
    width: 100%;
}

.authentication-inner.row.m-0 {
    justify-content: space-between;
    padding: 1.65rem;
}

.m-0 {
    margin: 0 !important;
}

.row {
    --bs-gutter-x: 1.625rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

element.style {
    background-image:url(./img/essence.behind.jpg)
}
#random-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.p-5 {
    padding: 3rem !important;
}
.align-items-center {
    align-items: center !important;
}
.d-none {
    display: none !important;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}


.light-style .authentication-wrapper .authentication-bg {
    background-color: #fff;
}
.p-4 {
    padding: 1.5rem !important;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important
;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) 1.625rem * 0.5);
    margin-top: var(--bs-gutter-y);
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: #000000;
    border-color: #3a3a3a;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(57, 57, 58, 0.4);
}

.w-100 {
    width: 100% !important;
}
.d-grid {
    display: grid !important
;
}
.btn {
    cursor: pointer;
    display: inline-flex
;
    align-items: center;
    justify-content: center;
}


.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.w-px-400 {
    width: 400px !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}

h4, .h4 {
    font-size: calc(1.2625rem + 0.15vw);
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-label, .col-form-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: inherit;
}
.form-label {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #566a7f;
}
label {
    display: inline-block;
}

.text-danger {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}
small, .small {
    font-size: 85%;
}



.image-container:hover {
    transform: translateY(-5px);
}
.image-container {
    width: 100%;
    max-width: 980px;
    height: 500px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
    transform: translateY(-5px);
}

.image-link {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.image-link.fade-out {
    opacity: 0;
}

.image-link::after {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 0.875rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-link:hover::after {
    opacity: 1;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 3rem;
}

.icon-wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.telegram .icon-wrapper {
    background: rgba(236, 240, 241, 0.096);
    color: #0088cc;
    border: 2px solid rgba(0, 136, 204, 0.3);
}

.whatsapp .icon-wrapper {
    background: rgba(255, 255, 255, 0.15);
    color: #25D366;
    border: 2px solid rgba(0, 135, 50, 0.3);
}

.instagram .icon-wrapper {
    background: rgba(252, 247, 248, 0.15);
    color: #e4405f;
    border: 2px solid rgba(228, 64, 95, 0.3);
}

.tiktok .icon-wrapper {
    background: rgba(255, 255, 255, 0.15);
    color: #000000;
    border: 2px solid rgba(0, 0, 0, 0.3);
}




/* Responsive adjustments */

@media (max-width: 576px) {
    .image-container {
        height: 500px;
        border-radius: 15px;
    }
    
    .image-link::after {
        bottom: 10px;
        padding: 6px 15px;
        font-size: 0.75rem;
    }
}


@media (min-width: 992px) {
     .image-container {
        max-width: 90%;
        height: 700px;
    }
    .d-lg-flex {
        display: flex !important;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
}
